html {
  min-height: 100%;
}
body {
  font-family: sans-serif;
  min-height: 100%;
  padding-bottom: 5rem;
}
h2, p, label {
  color: #797777;
}

h4 {
  font-weight: bold;
  color: #ff9800;
}

h1 {
  color: white;
}
header {
  margin-top: 3rem;
}

.events-list .media {
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem;
}

.events-list .media:last-of-type{
  border-bottom: 0;
}
.events-list .media-body p {
  margin:0;
}
.events-list .media-body button {
  margin-top: 1rem!important;
}
.events-list .media-body span {
  font-weight: bold;
}
/*.col-form-label {
  font-size: 14px;
}*/